// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  background-color: #993399; 
}

body {
  background-color: #CC99CC;
}

table {
  background-color: #F0E0F0;
}

p {
font-size: 200%;
}